div {
    width: 100%;
    text-align: center;
    font-family: "Chewy";
}

body{
    background-image: url(./fondonegro.webp);
}
.a1  { color: #FF69B4; font-size: 15rem;} 
.a2  { color: #FFA500; font-size: 15rem; } 
.a3  { color: #1E90FF; font-size: 15rem; } 
.a4  { color: #32CD32; font-size: 15rem; } 
.a5  { color: #FF4500; font-size: 15rem; } 
.a6  { color: #9400D3; font-size: 15rem; } 
.a7  { color: #00CED1; font-size: 15rem; } 
.a8  { color: #FFD700; font-size: 15rem; } 
.a9  { color: #FF1493; font-size: 15rem; } 
.a10 { color: #00FF7F; font-size: 15rem; } 
.a11 { color: #1E90FF; font-size: 15rem; } 
.a12 { color: #FF6347; font-size: 15rem; } 
.a13 { color: #8A2BE2; font-size: 15rem; } 
.a14 { color: #7FFF00; font-size: 15rem; } 
.a15 { color: #FF69B4; font-size: 15rem; } 
.a16 { color: #00BFFF; font-size: 15rem; } 
.a17 { color: #FF8C00; font-size: 15rem; } 
.a18 { color: #ADFF2F; font-size: 15rem; }

button {
    text-align: center;
    font-size: 100px;
    width: 300px;
    height: 300px;
}

h1 {
    font-size: 15rem;
    color: whitesmoke;
}

#span1{
    font-family: Arial, Helvetica, sans-serif;
}